@inherits UmbracoViewPage<ContentModels.Products>
@using ContentModels = Umbraco.Web.PublishedModels;
@{ 
    Layout = "master.cshtml";
    var home = Model.Root();
    var titleLinkAFewWordsAboutUs = Model.Value<IPublishedContent>("titleLinkAFewWordsAboutUs").Url();

    var frequentlyAskedQuestionsPageLink = Model.Value<IPublishedContent>("frequentlyAskedQuestionsPageLink").Url();
    var frequentlyAskedQuestionsImageUrl = Model.Value<IPublishedContent>("frequentlyAskedQuestionsSideImage").Url();

    var faqListToShow = Model.Value<IEnumerable<IPublishedContent>>("featuredFAQList");
}


<!-- a few words About Us-->
<section class="section section-lg text-center text-md-left bg-default">
    <div class="container container-wide">
        <div class="row row-50 justify-content-md-center">
            <div class="col-md-9 col-lg-8 col-xl-6 col-xxl-6">
                <div class="box-range-content">

                    <a href="@titleLinkAFewWordsAboutUs" class="animated-title-divider longer2">
                        <h3>@Model.Value("titleAFewWordsAboutUs")</h3>
                        <div class="divider divider-default"></div>
                    </a>

                    <p class="heading-5">
                        @Html.Raw(Model.Value("aFewWordsAboutUsFirstHeadingParagraphRow").ToString()?.Replace("\n", "<br/>"))
                    </p>

                    <p class="text-spacing-sm">
                        @Html.Raw(Model.Value("aFewWordsAboutUsSecondParagraphRow").ToString()?.Replace("\n", "<br/>"))
                    </p>

                    <a class="button button-primary" href="@titleLinkAFewWordsAboutUs">@Model.Value("aFewWordsAboutUsLearnMoreBottomLinkText")</a>
                </div>
            </div>
            <div class="col-md-9 col-lg-8 col-xl-6 col-xxl-6 jp-video-init">
                <div class="build-video">
                    <div class="build-video-inner">
                        <img class="image-wrap" src="/images/block-video-870x500.png" alt="" width="870" height="500" />
                    </div>
                    <div class="build-video-element">
                        <div class="jp-video jp-video-single">
                            <div class="jp-type-playlist">
                                <!-- Hidden playlist for script-->
                                <ul class="jp-player-list">
                                    <li class="jp-player-list-item" data-jp-m4v="/video/video.mp4" data-jp-title="local video" data-jp-poster="/images/video-poster.jpg"></li>
                                </ul>
                                <!-- container in which our video will be played-->
                                <div class="jp-jplayer"></div>
                                <!-- main containers for our controls-->
                                <div class="jp-gui">
                                    <div class="jp-interface">
                                        <div class="jp-controls-holder">
                                            <!-- play and pause buttons--><a class="jp-play" href="javascript:;" tabindex="1">play</a><a class="jp-pause" href="javascript:;" tabindex="1">pause</a><span class="separator sep-1"></span>
                                            <!-- progress bar-->
                                            <div class="jp-progress">
                                                <div class="jp-seek-bar">
                                                    <div class="jp-play-bar"><span></span></div>
                                                </div>
                                            </div>
                                            <div class="jp-time-wrapper">
                                                <!-- time notifications-->
                                                <div class="jp-current-time"></div><span class="time-sep">/</span>
                                                <div class="jp-duration"></div>
                                            </div><span class="separator sep-2"></span>
                                            <!-- mute / unmute toggle--><a class="jp-mute" href="javascript:;" tabindex="1" title="mute">mute</a><a class="jp-unmute" href="javascript:;" tabindex="1" title="unmute">unmute</a>
                                            <!-- volume bar-->
                                            <div class="jp-volume-bar">
                                                <div class="jp-volume-bar-value"><span class="handle"></span></div>
                                            </div><span class="separator sep-2"></span>
                                            <!-- full screen toggle--><a class="jp-full-screen" href="javascript:;" tabindex="1" title="full screen">full screen</a><a class="jp-restore-screen" href="javascript:;" tabindex="1" title="restore screen">restore screen</a>
                                        </div>
                                        <!-- end jp-controls-holder-->
                                    </div>
                                    <!-- end jp-interface-->
                                </div>
                                <!-- end jp-gui-->
                                <!-- unsupported message-->
                                <div class="jp-playlist">
                                    <ul>
                                        <li></li>
                                    </ul>
                                </div>
                                <div class="jp-no-solution"><span>Update Required</span>Here's a message which will appear if the video isn't supported. A Flash alternative can be used here if you fancy it.</div>
                                <!-- end jp_container_1-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@if (Model.Children().Where(x => x.IsVisible()).Count() > 0)
{
    int counterForFlippedSideCSSClass = -1;
    var filpedSideCssClass = "";
    var innerContentCSSClassFlipFixes = "";
    var imageUrlProductThumbnail = "";

    foreach (var productDetails in Model.Value<IEnumerable<IPublishedContent>>("featuredProducts"))
    {
        counterForFlippedSideCSSClass++;
        if (counterForFlippedSideCSSClass % 2 == 0)
        {
            filpedSideCssClass = "section-md-reverse";
            innerContentCSSClassFlipFixes = "justify-content-lg-end justify-content-xl-end";
        }
        else
        {
            filpedSideCssClass = "";
            innerContentCSSClassFlipFixes = "justify-content-lg-start justify-content-xl-between";
        }
        imageUrlProductThumbnail = productDetails.Value<IPublishedContent>("smallPhoto")?.Url ?? "";

<section class="section section-wrap section-wrap-equal @filpedSideCssClass">
    <div class="section-wrap-inner">
        <div class="container container-bigger">
            <div class="row row-ten justify-content-md-center @innerContentCSSClassFlipFixes">
                <div class="col-sm-8 col-md-4 col-lg-4">
                    <div class="section-lg">
                        <a href="@productDetails.Url()" class="animated-title-divider longer2">
                            <h3 class="little-smaller">@productDetails.Value("productName")</h3>
                            <div class="divider divider-default"></div>
                        </a>
                        <p>
                            @productDetails.Value("shortDescription")
                        </p>
                        <div class="text-center form-button">
                            <a class="button button-primary" href="@productDetails.Url()">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-wrap-aside section-wrap-image">
            <img src="@imageUrlProductThumbnail" alt="@productDetails.Value("productName")" title="@productDetails.Value("productName")" width="960" height="660" />
        </div>
    </div>
</section>}
            }

<!-- Frequently asked questions -->
<section class="section section-lg bg-default">
    <div class="container container-bigger">
        <div class="row row-ten row-50 justify-content-md-center justify-content-xl-between">
            <div class="col-md-9 col-lg-5 col-xxl-5">
                @*<h3>Frequently Asked Questions</h3>*@
                <a href="@frequentlyAskedQuestionsPageLink" class="animated-title-divider longer2">
                    <h3 class="little-smaller">@Model.Value("frequentlyAskedQuestionsTitle")</h3>
                    <div class="divider divider-default"></div>
                </a>


                <div class="panel-group panel-group-custom panel-group-corporate" id="accordion1" role="tablist" aria-multiselectable="false">

                    @{
                        var counterForGeneratedIds = 0;
                        string panelHeadingId, headingLinkDataParent, headingLinkHref, headingLinkAriaControls = "";
                        string panelCollapsedId, panelCollapsedAriaLabelledBy = "";

                        foreach (var faqItem in faqListToShow)
                        {
                            counterForGeneratedIds++;
                            panelHeadingId = "accordion1Heading" + counterForGeneratedIds;
                            headingLinkDataParent = "#accordion1";
                            headingLinkHref = "#accordion1Collapse" + counterForGeneratedIds;
                            headingLinkAriaControls = "accordion1Collapse" + counterForGeneratedIds;
                            panelCollapsedId = "accordion1Collapse" + counterForGeneratedIds;
                            panelCollapsedAriaLabelledBy = "accordion1Heading" + counterForGeneratedIds;

                            <div class="panel panel-custom panel-corporate">
                                <div class="panel-heading" id="@panelHeadingId" role="tab">
                                    <div class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="@headingLinkDataParent" href="@headingLinkHref" aria-controls="@headingLinkAriaControls">
                                            @faqItem.Value("questionTitle")
                                            <div class="panel-arrow"></div>
                                        </a>
                                    </div>
                                </div>
                                <div class="panel-collapse collapse" role="tabpanel" id="@panelCollapsedId" aria-labelledby="@panelCollapsedAriaLabelledBy">
                                    <div class="panel-body">
                                        <p>
                                            @faqItem.Value("answerDetails")
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                </div>

            </div>
            <div class="col-md-9 col-lg-5 col-xxl-4">
                <figure class="image-default">
                    <img src="@frequentlyAskedQuestionsImageUrl" alt="" width="570" height="600" />
                </figure>
            </div>
        </div>
    </div>
</section>
