@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Projects>
@using ContentModels = Umbraco.Web.PublishedModels;
@{

    Layout = "master.cshtml";
    var home = Model.Root();

    // Prepare the project Type Codes array from the featured projects parent items (ProjectsType nodes)
    // Will be used for the filtering in desktop / mobile view
    Dictionary<string, string> projectsTypeCodesAndTitle = new Dictionary<string, string>();
    string parentProjectTypeCode = "";
    string parentProjectTypeTitle = "";

    foreach (var project in Model.Value<IEnumerable<IPublishedContent>>("ProjectsList"))
    {
        parentProjectTypeCode = project.Parent.Value("projectTypeUniqueEnglishCode").ToString();
        parentProjectTypeTitle = project.Parent.Value("projectsTypeTitle").ToString();

        if (!projectsTypeCodesAndTitle.ContainsKey(parentProjectTypeCode))
        {
            projectsTypeCodesAndTitle.Add(parentProjectTypeCode, parentProjectTypeTitle);
        }
    }
}


<!-- Grid gallery-->
<section class="section section-lg text-center bg-default">
    <div class="container-wide">
        <div class="row justify-content-sm-center">
            <div class="col-lg-9 col-xl-8 col-xxl-6 text-center">
                <h3>@Model.Value("ProjectsTitleIntroduction")</h3>
                <div class="divider divider-default disabled-static-fullwidth"></div>
                <p>
                    @Model.Value("projectsTitleIntroductionDescription")
                </p>
            </div>
        </div>
        <div class="isotope-wrap row row-0 row-md-30">
            <!-- Isotope Filters-->
            <div class="col-xl-12">
                <ul class="isotope-filters isotope-filters-horizontal">
                    <li class="block-top-level">
                        <p class="big">@Umbraco.GetDictionaryValue("Choose your project category")</p>
                        <!-- Isotope Filters-->
                        <button class="isotope-filters-toggle button button-xs button-primary" data-custom-toggle=".isotope-filters-list" data-custom-toggle-hide-on-blur="true">@Umbraco.GetDictionaryValue("Filter projects")<span class="caret"></span></button>
                        <ul class="isotope-filters-list">
                            <li><a class="active" data-isotope-filter="*" data-isotope-group="gallery" href="#">All Categories</a></li>

                            @foreach (var projetTypeCode in projectsTypeCodesAndTitle.Keys)
                            {
                                <li><a data-isotope-filter="@projetTypeCode" data-isotope-group="gallery" href="#">@projectsTypeCodesAndTitle[projetTypeCode]</a></li>
                            }
                            
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- Isotope Content-->
            <div class="col-xl-12">
                <div class="isotope" data-isotope-layout="fitRows" data-isotope-group="gallery">
                    <div class="row">

                        @{

                            var projectImageUrl = "";
                            var projectLargerImageUrl = "";

                            foreach (var project in Model.Value<IEnumerable<IPublishedContent>>("projectsList"))
                            {
                                projectImageUrl = project.Value<IPublishedContent>("projectThumbnailImage")?.Url() ?? "";
                                projectLargerImageUrl = project.Value<IPublishedContent>("projectLargeImage")?.Url() ?? "";

                                <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="@project.Parent.Value("projectTypeUniqueEnglishCode")" data-lightgallery="group">
                                    <ul class="lightgallery-album">
                                        <li>
                                            <div class="gallery-item custom-fullsizer">
                                                <div class="gallery-item-image">
                                                    <figure>
                                                        <img src="@projectImageUrl" alt="" width="570" height="380" />
                                                    </figure>

                                                    <div class="caption">

                                                        <a href="@project.Url()" class="caption-title">@project.Value("projectTitle")</a>

                                                        <a href="@project.Url()" class="caption-text">
                                                            @project.Value("projectDescription")
                                                        </a>
                                                    </div>
                                                </div>
                                                <a href="@projectLargerImageUrl" data-lightgallery="item" class="fullsizer"><span>&nbsp;</span></a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            }

                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
