@using Umbraco.Core.PropertyEditors
@inherits UmbracoViewPage
@{
    Layout = null;
    // Get basic design settings from the homepage
    var home = (Home)Model.Root();
    var font = home.Font;
    var colorTheme = home.ColorTheme;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>@Model.Name - @home.Sitename</title>
    <meta name="description" content="">
    <meta name="author" content="">

    @*<link rel="stylesheet" href="@Url.Content("~/css/umbraco-starterkit-style.css")" />*@
    @RenderSection("Header", required: false)

    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway:200,400%7CLato:300,400,300italic,700%7CMontserrat:900">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/custom-new.css">

</head>

<body>
    <!-- 27.07.2020 0622 removed those settings from the body <body class="frontpage theme-font-@font theme-color-@colorTheme">-->
    <!-- Page preloader-->
    <div class="preloader">
        <div class="preloader-body">
            <img src="Images/logo/company-logo.png" alt="" width="100" height="75" />
            <div class="cssload-container">
                <div class="cssload-speeding-wheel"></div>
            </div>
        </div>
    </div>

    <!-- Page-->
    <div class="page">

        @*<div class="mobile-nav">
            <nav class="nav-bar">
                @Html.Partial("~/views/partials/navigation/topNavigation.cshtml")
            </nav>
        </div>*@

        @*<header class="header">

            <div class="logo">
                @if (home.SiteLogo != null && !string.IsNullOrEmpty(home.SiteLogo.Url))
                {
                <div class="nav-link--home">
                    <img class="logo-image" src="@home.SiteLogo.Url" alt="@home.Sitename">
                </div>
                }
                else
                {
                <a class="nav-link nav-link--home nav-link--home__text logo-text" href="/">@home.Sitename</a>
                }
            </div>

            <nav class="nav-bar top-nav">
                @Html.Partial("~/Views/Partials/Navigation/TopNavigation.cshtml")
            </nav>

            <div class="mobile-nav-handler">
                <div class="hamburger lines" id="toggle-nav">
                    <span></span>
                </div>
            </div>

        </header>*@

        <!-- Page Header-->
        <header class="section page-header">
            <!-- RD Navbar-->
            <div class="rd-navbar-centered">
                <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fullwidth" data-xl-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-md-stick-up-offset="1px" data-lg-stick-up-offset="1px" data-stick-up="true" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true">
                    <div class="rd-navbar-inner">
                        <div class="rd-navbar-aside-left">
                            <div class="rd-navbar-nav-wrap">
                                <ul class="rd-navbar-nav">
                                    <li class="active"><a href="index.html">Home</a></li>
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li>
                                        <a href="#">Blog</a>
                                        <ul class="rd-navbar-dropdown">
                                            <li><a href="classic-blog.html">Classic Blog</a></li>
                                            <li><a href="grid-blog.html">Grid Blog</a></li>
                                            <li><a href="masonry-blog.html">Masonry Blog</a></li>
                                            <li><a href="modern-blog.html">Modern Blog</a></li>
                                            <li><a href="audio-post.html">Audio Post</a></li>
                                            <li><a href="single-post.html">Single Post</a></li>
                                            <li><a href="image-post.html">Image Post</a></li>
                                            <li><a href="video-post.html">Video Post</a></li>
                                        </ul>
                                    </li>
                                    <li class="rd-navbar--has-megamenu rd-navbar-submenu">
                                        <a href="#">Pages</a>
                                        <!-- RD Navbar Megamenu -->
                                        <ul class="rd-navbar-megamenu">
                                            <li>
                                                <ul class="rd-megamenu-list">
                                                    <li><a href="about-me.html">About Me</a></li>
                                                    <li><a href="our-history.html">Our History</a></li>
                                                    <li><a href="services.html">Services</a></li>
                                                    <li><a href="single-service.html">Single Service</a></li>
                                                    <li><a href="careers.html">Careers</a></li>
                                                    <li><a href="single-job.html">Single Job</a></li>
                                                    <li><a href="contacts.html">Contacts</a></li>
                                                    <li><a href="grid-gallery.html">Grid Gallery</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <ul class="rd-megamenu-list">
                                                    <li><a href="grid-album-gallery.html">Grid Album Gallery</a></li>
                                                    <li><a href="fullwidth-gallery.html">Fullwidth Gallery</a></li>
                                                    <li><a href="masonry-gallery.html">Masonry Gallery</a></li>
                                                    <li><a href="single-project.html">Single Project</a></li>
                                                    <li><a href="login-page.html">Login Page</a></li>
                                                    <li><a href="registration-page.html">Registration Page</a></li>
                                                    <li><a href="pricing.html">Pricing</a></li>
                                                    <li><a href="404-page.html">404 Page</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <ul class="rd-megamenu-list">
                                                    <li><a href="503-page.html">503 Page</a></li>
                                                    <li><a href="coming-soon.html">Coming Soon</a></li>
                                                    <li><a href="under-construction.html">Under Construction</a></li>
                                                    <li><a href="accordions.html">Accordions</a></li>
                                                    <li><a href="forms.html">Forms</a></li>
                                                    <li><a href="countdown.html">Countdown</a></li>
                                                    <li><a href="grid-system.html">Grid System</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <ul class="rd-megamenu-list">
                                                    <li><a href="tables.html">Tables</a></li>
                                                    <li><a href="tabs.html">Tabs</a></li>
                                                    <li><a href="typography.html">Typography</a></li>
                                                    <li><a href="radials.html">Radials</a></li>
                                                    <li><a href="pricing.html">Pricing</a></li>
                                                    <li><a href="tooltips.html">Tooltips</a></li>
                                                    <li><a href="search-results.html">Search Results</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- RD Navbar Panel-->
                        <div class="rd-navbar-panel">
                            <!-- RD Navbar Toggle-->
                            <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                            <!-- RD Navbar Brand-->
                            <div class="rd-navbar-brand"><a class="brand-name" href="index.html"><img class="logo-default" src="images/logo/company-logo.png" alt="" width="80" height="60" /><img class="logo-inverse" src="images/logo-inverse-198x42.png" alt="" width="198" height="42" /></a></div>
                        </div>
                        <div class="rd-navbar-collapse-toggle" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
                        <div class="rd-navbar-aside-right rd-navbar-collapse">
                            <!-- RD Navbar Search-->
                            <div class="rd-navbar-search">
                                <a class="rd-navbar-search-toggle" data-rd-navbar-toggle=".rd-navbar-search" href="#"><span></span></a>
                                <form class="rd-search" action="search-results.html" data-search-live="rd-search-results-live" method="GET">
                                    <div class="form-wrap">
                                        <label class="form-label form-label" for="rd-navbar-search-form-input">Search...</label>
                                        <input class="rd-navbar-search-form-input form-input" id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off">
                                        <div class="rd-search-results-live"></div>
                                    </div>
                                    <button class="rd-search-form-submit mdi mdi-magnify"></button>
                                </form>
                            </div><a class="button button-sm button-default-outline" href="contacts.html">request a quote</a>
                        </div>
                    </div>
                </nav>
            </div>
        </header>


        <main>
            @RenderBody()
        </main>

        @*<footer class="section--themed">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 ta-center">
                        @home.FooterAddress
                    </div>
                </div>
            </div>
        </footer>*@



        <!-- Our Advantages-->
        <section class="section section-wrap section-wrap-lg section-reverse bg-gray-darker">
            <div class="section-wrap-inner">
                <div class="container container-wide">
                    <div class="row row-50 justify-content-md-center justify-content-xl-end">
                        <div class="col-md-12 col-lg-7 col-xl-7 col-xxl-6">
                            <div class="section-lg">
                                <h3>Our Advantages</h3>
                                <div class="divider divider-default"></div>
                                <div class="row row-30">
                                    <div class="col-md-6">
                                        <article class="box-minimal box-minimal-border">
                                            <div class="box-minimal-icon mdi mdi-thumb-up-outline"></div>
                                            <p class="big box-minimal-title">Individual Approach</p>
                                            <hr>
                                            <div class="box-minimal-text">We use an individual approach to each client and we never offer you a set of standard decisions for your business.</div>
                                        </article>
                                    </div>
                                    <div class="col-md-6">
                                        <article class="box-minimal box-minimal-border">
                                            <div class="box-minimal-icon mdi mdi-account-multiple"></div>
                                            <p class="big box-minimal-title">Qualified Employers</p>
                                            <hr>
                                            <div class="box-minimal-text">Effective is a team of designers, developers, marketing experts and managers who are ready to work for a personalized web solution.</div>
                                        </article>
                                    </div>
                                    <div class="col-md-6">
                                        <article class="box-minimal box-minimal-border">
                                            <div class="box-minimal-icon mdi mdi-headset"></div>
                                            <p class="big box-minimal-title">24/7 Online Support</p>
                                            <hr>
                                            <div class="box-minimal-text">Our online support is available 24 hours a day to answer your every question and help you solve any issue you may have with our products and services.</div>
                                        </article>
                                    </div>
                                    <div class="col-md-6">
                                        <article class="box-minimal box-minimal-border">
                                            <div class="box-minimal-icon mdi mdi-credit-card"></div>
                                            <p class="big box-minimal-title">Various Payment Methods</p>
                                            <hr>
                                            <div class="box-minimal-text">We provide a variety of payment methods that include Paypal, Visa/Mastercard/American Express and lots of others, which can be customized.</div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-wrap-aside section-wrap-image">
                    <img src="images/landing-it-company-6-942x1250.jpg" alt="" width="942" height="1250" />
                </div>
            </div>
        </section>

        <!-- Counters-->
        <section class="section parallax-container bg-image">
            <div class="material-parallax"><img src="images/parallax-image-1-1920x1010.jpg" alt="" /></div>
            <div class="parallax-content">
                <div class="section-md text-center">
                    <div class="container">
                        <div class="row row-50 justify-content-sm-center">
                            <div class="col-sm-10 col-md-6 col-xl-3">
                                <div class="counter-wrap">
                                    <span class="icon icon-primary mdi mdi-television-guide"></span>
                                    <div class="heading-3"><span class="counter" data-step="3000">62000</span></div>
                                    <p>Projects</p>
                                </div>
                            </div>
                            <div class="col-sm-10 col-md-6 col-xl-3">
                                <div class="counter-wrap">
                                    <span class="icon icon-primary mdi mdi-account-multiple-outline"></span>
                                    <div class="heading-3"><span class="counter" data-step="3000">246000</span></div>
                                    <p>Happy Clients</p>
                                </div>
                            </div>
                            <div class="col-sm-10 col-md-6 col-xl-3">
                                <div class="counter-wrap">
                                    <span class="icon icon-primary mdi mdi-clock"></span>
                                    <div class="heading-3"><span class="counter" data-step="3000">1200</span></div>
                                    <p>Hours of Coding</p>
                                </div>
                            </div>
                            <div class="col-sm-10 col-md-6 col-xl-3">
                                <div class="counter-wrap">
                                    <span class="icon icon-primary mdi mdi-code-tags"></span>
                                    <div class="heading-3"><span class="counter" data-step="3000">12000</span></div>
                                    <p>Lines of Code</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Blog posts-->
        <section class="section section-lg bg-gray-lighter text-center">
            <div class="container-wide">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>Latest Blog Posts</h3>
                        <div class="divider divider-default"></div>
                        <!-- Owl Carousel-->
                        <div class="owl-carousel owl-carousel-team owl-carousel-inset" data-autoplay="true" data-items="1" data-md-items="2" data-lg-items="3" data-xl-items="3" data-xxl-items="3" data-stage-padding="15" data-loop="true" data-margin="30" data-mouse-drag="false" data-dots="true">
                            <article class="post-blog">
                                <a class="post-blog-image" href="single-post.html"><img src="images/landing-it-company-7-570x415.jpg" alt="" width="570" height="415" /></a>
                                <div class="post-blog-caption">
                                    <div class="post-blog-caption-header">
                                        <ul class="post-blog-tags">
                                            <li><a class="button-tags" href="single-post.html">Tips & Tricks</a></li>
                                        </ul>
                                        <ul class="post-blog-meta">
                                            <li><span>by</span>&nbsp;<a href="about-me.html">Ronald Chen</a></li>
                                        </ul>
                                    </div>
                                    <div class="post-blog-caption-body">
                                        <h5><a class="post-blog-title" href="single-post.html">Why Outsourcing IT Services for Small Business Owners is Beneficial</a></h5>
                                    </div>
                                    <div class="post-blog-caption-footer">
                                        <time datetime="2017">Feb 27, 2017 at 6:53 pm</time><a class="post-comment" href="single-post.html"><span class="icon icon-md-middle icon-gray-1 mdi mdi-comment"></span><span>3</span></a>
                                    </div>
                                </div>
                            </article>
                            <article class="post-blog">
                                <a class="post-blog-image" href="image-post.html"><img src="images/landing-it-company-8-570x415.jpg" alt="" width="570" height="415" /></a>
                                <div class="post-blog-caption">
                                    <div class="post-blog-caption-header">
                                        <ul class="post-blog-tags">
                                            <li><a class="button-tags" href="image-post.html">marketing</a></li>
                                        </ul>
                                        <ul class="post-blog-meta">
                                            <li><span>by</span>&nbsp;<a href="about-me.html">Ronald Chen</a></li>
                                        </ul>
                                    </div>
                                    <div class="post-blog-caption-body">
                                        <h5><a class="post-blog-title" href="image-post.html">Important Info: Know These Types of Malware and Stay Protected</a></h5>
                                    </div>
                                    <div class="post-blog-caption-footer">
                                        <time datetime="2017">Feb 27, 2017 at 6:53 pm</time><a class="post-comment" href="image-post.html"><span class="icon icon-md-middle icon-gray-1 mdi mdi-comment"></span><span>3</span></a>
                                    </div>
                                </div>
                            </article>
                            <article class="post-blog">
                                <a class="post-blog-audio" href="audio-post.html"><img src="images/landing-it-company-9-570x415.jpg" alt="" width="570" height="415" /></a>
                                <div class="post-blog-caption">
                                    <div class="post-blog-caption-header">
                                        <ul class="post-blog-tags">
                                            <li><a class="button-tags" href="audio-post.html">Tips & Tricks</a></li>
                                        </ul>
                                        <ul class="post-blog-meta">
                                            <li><span>by</span>&nbsp;<a href="about-me.html">Ronald Chen</a></li>
                                        </ul>
                                    </div>
                                    <div class="post-blog-caption-body">
                                        <h5><a class="post-blog-title" href="audio-post.html">Tips and Tricks for Avoiding IoT (Internet of Things) Threats</a></h5>
                                    </div>
                                    <div class="post-blog-caption-footer">
                                        <time datetime="2017">Feb 27, 2017 at 6:53 pm</time><a class="post-comment" href="audio-post.html"><span class="icon icon-md-middle icon-gray-1 mdi mdi-comment"></span><span>3</span></a>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div><a class="button button-primary" href="classic-blog.html">view all blog posts</a>
            </div>
        </section>

        <!-- Testimonials-->
        <section class="section parallax-container bg-image">
            <div class="material-parallax"><img src="images/parallax-image-2-1920x1010.jpg" alt="" /></div>
            <div class="parallax-content">
                <div class="section-md text-center">
                    <div class="container container-wide">
                        <h3>Testimonials</h3>
                        <hr class="divider divider-default">
                        <!-- Owl Carousel-->
                        <div class="owl-carousel" data-autoplay="true" data-items="1" data-md-items="2" data-lg-items="3" data-xl-items="3" data-xxl-items="4" data-dots="true" data-nav="false" data-stage-padding="0" data-loop="true" data-margin="30" data-mouse-drag="false">
                            <article class="quote-modern">
                                <div class="quote-modern-text">
                                    <p>Every writer needs to refresh the look of his/hers website from time to time, and that’s why I was looking for a new design for my website. I am so glad I found Effective to help me!</p>
                                </div>
                                <div class="quote-modern-footer">
                                    <img class="quote-modern-image" src="images/quote-user-4-80x80.jpg" alt="" width="80" height="80" />
                                    <div class="quote-modern-meta">
                                        <p class="quote-modern-cite">Philip Lawrence</p>
                                        <p class="quote-modern-small">Regular Customer</p>
                                    </div>
                                </div>
                            </article>
                            <article class="quote-modern">
                                <div class="quote-modern-text">
                                    <p>Working with your company on our 3rd Solar project was a great success and I must say that you have a good team of people who helped us when the initial consultation started.</p>
                                </div>
                                <div class="quote-modern-footer">
                                    <img class="quote-modern-image" src="images/quote-user-5-80x80.jpg" alt="" width="80" height="80" />
                                    <div class="quote-modern-meta">
                                        <p class="quote-modern-cite">Debra Ortega</p>
                                        <p class="quote-modern-small">Regular Customer</p>
                                    </div>
                                </div>
                            </article>
                            <article class="quote-modern">
                                <div class="quote-modern-text">
                                    <p>Effective worked hard before the project to come up with a strategic  IT planning solution that met our requirements. We hope to cooperate with them in the future.</p>
                                </div>
                                <div class="quote-modern-footer">
                                    <img class="quote-modern-image" src="images/quote-user-6-80x80.jpg" alt="" width="80" height="80" />
                                    <div class="quote-modern-meta">
                                        <p class="quote-modern-cite">Jose Gutierrez</p>
                                        <p class="quote-modern-small">Regular Customer</p>
                                    </div>
                                </div>
                            </article>
                            <article class="quote-modern">
                                <div class="quote-modern-text">
                                    <p>Our company became your client in 2010 and we’ve been very happy with IT services you provide. Your consultants do an excellent job with ongoing IT maintenance and support.</p>
                                </div>
                                <div class="quote-modern-footer">
                                    <img class="quote-modern-image" src="images/quote-user-7-80x80.jpg" alt="" width="80" height="80" />
                                    <div class="quote-modern-meta">
                                        <p class="quote-modern-cite">Jane Greer</p>
                                        <p class="quote-modern-small">Regular Customer</p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Brands-->
        <section class="section section-md bg-default text-center">
            <div class="container container-wide">
                <!-- Owl Carousel-->
                <div class="owl-carousel owl-dots-secondary owl-layout-4" data-autoplay="true" data-items="1" data-sm-items="2" data-md-items="3" data-lg-items="4" data-xl-items="6" data-dots="true" data-nav="false" data-stage-padding="0" data-loop="true" data-margin="30" data-mouse-drag="false"><a class="link-image" href="#"><img src="images/logo-image-1-174x113.png" alt="" width="174" height="113" /></a><a class="link-image" href="#"><img src="images/logo-image-2-173x135.png" alt="" width="173" height="135" /></a><a class="link-image" href="#"><img src="images/logo-image-3-172x113.png" alt="" width="172" height="113" /></a><a class="link-image" href="#"><img src="images/logo-image-4-185x110.png" alt="" width="185" height="110" /></a><a class="link-image" href="#"><img src="images/logo-image-5-173x114.png" alt="" width="173" height="114" /></a><a class="link-image" href="#"><img src="images/logo-image-6-143x110.png" alt="" width="143" height="110" /></a></div>
            </div>
        </section>

        <!-- Page Footer-->
        <!-- Footer Default-->
        <footer class="section page-footer page-footer-default text-left bg-gray-darker">
            <div class="container-wide">
                <div class="row row-50 justify-content-sm-center">
                    <div class="col-md-6 col-xl-3">
                        <div class="inset-xxl">
                            <h6>About Us</h6>
                            <p class="text-spacing-sm">We at Effective know how to design and develop a website or app of any complexity. Regardless of what you are looking for, our experts can deliver a solution, which will elevate your business to unbelievable heights.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-2">
                        <h6>Quick Links</h6>
                        <ul class="list-marked list-marked-primary">
                            <li><a href="about-us.html">About Us</a></li>
                            <li><a href="services.html">Services</a></li>
                            <li><a href="classic-blog.html">Blog</a></li>
                            <li><a href="grid-gallery.html">Portfolio</a></li>
                            <li><a href="contacts.html">Contacts</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-xl-4">
                        <h6>Instagram Feed</h6>
                        <div class="instafeed text-center" data-lightgallery="group">
                            <div class="row row-10 row-narrow">
                                <div class="col-6 col-sm-4 col-md-4 col-lg-3">
                                    <div class="thumbnail-instafeed thumbnail-instafeed-minimal">
                                        <a class="instagram-link" href="images/gallery/gallery-01-1200x800.jpg" data-lightgallery="item"><img class="instagram-image" src="images/gallery/gallery-01-320x320.jpg" width="320" height="320" alt="" /></a>
                                        <div class="caption">
                                            <ul class="list-inline">
                                                <li><span class="icon mdi mdi-heart"></span><span data-likes-count="text"></span></li>
                                                <li><span class="icon mdi mdi-comment"></span><span data-comments-count="text"></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-4 col-md-4 col-lg-3">
                                    <div class="thumbnail-instafeed thumbnail-instafeed-minimal">
                                        <a class="instagram-link" href="images/gallery/gallery-02-1200x800.jpg" data-lightgallery="item"><img class="instagram-image" src="images/gallery/gallery-02-320x320.jpg" width="320" height="320" alt="" /></a>
                                        <div class="caption">
                                            <ul class="list-inline">
                                                <li><span class="icon mdi mdi-heart"></span><span data-likes-count="text"></span></li>
                                                <li><span class="icon mdi mdi-comment"></span><span data-comments-count="text"></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-4 col-md-4 col-lg-3">
                                    <div class="thumbnail-instafeed thumbnail-instafeed-minimal">
                                        <a class="instagram-link" href="images/gallery/gallery-03-1200x800.jpg" data-lightgallery="item"><img class="instagram-image" src="images/gallery/gallery-03-320x320.jpg" width="320" height="320" alt="" /></a>
                                        <div class="caption">
                                            <ul class="list-inline">
                                                <li><span class="icon mdi mdi-heart"></span><span data-likes-count="text"></span></li>
                                                <li><span class="icon mdi mdi-comment"></span><span data-comments-count="text"></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-4 col-md-4 col-lg-3">
                                    <div class="thumbnail-instafeed thumbnail-instafeed-minimal">
                                        <a class="instagram-link" href="images/gallery/gallery-04-1200x800.jpg" data-lightgallery="item"><img class="instagram-image" src="images/gallery/gallery-04-320x320.jpg" width="320" height="320" alt="" /></a>
                                        <div class="caption">
                                            <ul class="list-inline">
                                                <li><span class="icon mdi mdi-heart"></span><span data-likes-count="text"></span></li>
                                                <li><span class="icon mdi mdi-comment"></span><span data-comments-count="text"></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-4 col-md-4 col-lg-3">
                                    <div class="thumbnail-instafeed thumbnail-instafeed-minimal">
                                        <a class="instagram-link" href="images/gallery/gallery-05-1200x800.jpg" data-lightgallery="item"><img class="instagram-image" src="images/gallery/gallery-05-320x320.jpg" width="320" height="320" alt="" /></a>
                                        <div class="caption">
                                            <ul class="list-inline">
                                                <li><span class="icon mdi mdi-heart"></span><span data-likes-count="text"></span></li>
                                                <li><span class="icon mdi mdi-comment"></span><span data-comments-count="text"></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-4 col-md-4 col-lg-3">
                                    <div class="thumbnail-instafeed thumbnail-instafeed-minimal">
                                        <a class="instagram-link" href="images/gallery/gallery-06-1200x800.jpg" data-lightgallery="item"><img class="instagram-image" src="images/gallery/gallery-06-320x320.jpg" width="320" height="320" alt="" /></a>
                                        <div class="caption">
                                            <ul class="list-inline">
                                                <li><span class="icon mdi mdi-heart"></span><span data-likes-count="text"></span></li>
                                                <li><span class="icon mdi mdi-comment"></span><span data-comments-count="text"></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-4 col-md-4 col-lg-3">
                                    <div class="thumbnail-instafeed thumbnail-instafeed-minimal">
                                        <a class="instagram-link" href="images/gallery/gallery-07-1200x800.jpg" data-lightgallery="item"><img class="instagram-image" src="images/gallery/gallery-07-320x320.jpg" width="320" height="320" alt="" /></a>
                                        <div class="caption">
                                            <ul class="list-inline">
                                                <li><span class="icon mdi mdi-heart"></span><span data-likes-count="text"></span></li>
                                                <li><span class="icon mdi mdi-comment"></span><span data-comments-count="text"></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-4 col-md-4 col-lg-3">
                                    <div class="thumbnail-instafeed thumbnail-instafeed-minimal">
                                        <a class="instagram-link" href="images/gallery/gallery-08-1200x800.jpg" data-lightgallery="item"><img class="instagram-image" src="images/gallery/gallery-08-320x320.jpg" width="320" height="320" alt="" /></a>
                                        <div class="caption">
                                            <ul class="list-inline">
                                                <li><span class="icon mdi mdi-heart"></span><span data-likes-count="text"></span></li>
                                                <li><span class="icon mdi mdi-comment"></span><span data-comments-count="text"></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3">
                        <h6>Contact Us</h6>
                        <!-- RD Mailform-->
                        @*<form class="rd-mailform rd-mailform-sm" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
                            <div class="form-wrap form-wrap-validation">
                                <input class="form-input" id="form-footer-name" type="text" name="name" data-constraints="@Required" />
                                <label class="form-label" for="form-footer-name">Name</label>
                            </div>
                            <div class="form-wrap form-wrap-validation">
                                <input class="form-input" id="form-footer-email" type="email" name="email" data-constraints="@Email @Required" />
                                <label class="form-label" for="form-footer-email">E-mail</label>
                            </div>
                            <div class="form-wrap form-wrap-validation">
                                <label class="form-label" for="form-footer-message">Message</label>
                                <textarea class="form-input" id="form-footer-message" name="message" data-constraints="@Required"></textarea>
                            </div>
                            <div class="form-button">
                                <button class="button button-sm button-primary" type="submit">Send message</button>
                            </div>
                        </form>*@
                    </div>
                </div>
                <p class="right">&#169;&nbsp;<span class="copyright-year"></span> All Rights Reserved&nbsp;<a href="#">Terms of Use</a>&nbsp;and&nbsp;<a href="privacy-policy.html">Privacy Policy</a></p>
            </div>
        </footer>

    </div>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
    @*<script src="@Url.Content("~/scripts/umbraco-starterkit-app.js")"></script>*@

    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>

</body>

</html>