@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Service>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
    var home = Model.Root();

    var serviceDetailsLargeSideImageUrl = Model.Value<IPublishedContent>("serviceDetailsLargeSideImage")?.Url ?? "";

    var servicesUmbracoNode = Model.Parent<IPublishedContent>();
    var ourAdvantagesTitleLink = servicesUmbracoNode.Value<IPublishedContent>("ourAdvantagesTitleLink").Url();
    var frequentlyAskedQuestionsPageLink = servicesUmbracoNode.Value<IPublishedContent>("frequentlyAskedQuestionsPageLink").Url();
    var frequentlyAskedQuestionsImageUrl = servicesUmbracoNode.Value<IPublishedContent>("frequentlyAskedQuestionsSideImage").Url();

    var faqCustomForCurrentService = Model.Value<IEnumerable<IPublishedContent>>("featuredServiceDetailsSpecificCustomFAQList");
    var faqListToShow = (faqCustomForCurrentService != null && faqCustomForCurrentService.Count() > 0) ?
            faqCustomForCurrentService : servicesUmbracoNode.Value<IEnumerable<IPublishedContent>>("featuredServicesFAQList");


}


<!-- about this service-->
<section class="section section-lg text-center text-md-left bg-default">
    <div class="container container-wide">
        <div class="row row-ten row-50 justify-content-md-center justify-content-xl-between">
            <div class="col-md-8 col-xl-4">

                <h3>@Model.Value("serviceTitle")</h3>
                <div class="divider divider-default" style="width:100%;max-width:100%;"></div>
                <p>
                    @Model.Value("serviceDetailsIntroductionDescription")
                </p>
                <article class="quote-minimal">
                    <p class="quote-minimal-text">
                        @Model.Value("serviceDetailsIntroductionQuotedText")
                    </p>
                </article>
                <p>
                    @Model.Value("serviceDescription")
                </p>
                <p>
                    @Html.GetGridHtml(Model, "bodyText", "bootstrap3-fluid")
                </p>
                <a class="button button-primary" href="#">order now</a>
            </div>
            <div class="col-xl-5 text-center">
                <div class="image-position-01">
                    <div class="blick-wrap">
                        <img class="image-wrap" src="/images/ipad-01-1360x1233.png" alt="" width="1360" height="1233" />
                        <div class="blick-overlay" data-blick-overlay="ipad"></div>
                        <div class="blick-content"><img src="@serviceDetailsLargeSideImageUrl" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Service featured advantages -->
<section class="section section-lg text-center bg-gray-darker">
    <div class="container-wide">
        <a href="@ourAdvantagesTitleLink" class="animated-title-divider longer">
            <h3>@servicesUmbracoNode.Value("ourAdvantagesTitle")</h3>
            <div class="divider divider-default"></div>
        </a>
        <div class="row row-50 justify-content-sm-center text-left">

            @foreach (var advantage in servicesUmbracoNode.Value<IEnumerable<IPublishedContent>>("featuredOurAdvantages"))
            {

                <div class="ArticleWrapper col-sm-10 col-md-6 col-xl-3">
                    <a class="ArticleWrapper" href="@advantage.Url()">
                        <article class="box-minimal box-minimal-border">
                            <div class="box-minimal-icon mdi @advantage.Value("thumbnailImageCSSClass")"></div>
                            <p class="big box-minimal-title">@advantage.Value("advantageTitle")</p>
                            @*<hr>*@
                            <div class="box-minimal-text">
                                @advantage.Value("advantageDescription")
                            </div>
                            <div class="read-more">
                                <label>Read more</label>
                            </div>
                        </article>
                    </a>
                </div>
            }

        </div>
    </div>
</section>

<!-- Frequently asked questions -->
<section class="section section-lg bg-default">
    <div class="container container-bigger">
        <div class="row row-ten row-50 justify-content-md-center justify-content-xl-between">
            <div class="col-md-9 col-lg-5 col-xxl-5">
                @*<h3>Frequently Asked Questions</h3>*@
                <a href="@frequentlyAskedQuestionsPageLink" class="animated-title-divider longer2">
                    <h3 class="little-smaller">@servicesUmbracoNode.Value("frequentlyAskedQuestionsTitle")</h3>
                    <div class="divider divider-default"></div>
                </a>


                <div class="panel-group panel-group-custom panel-group-corporate" id="accordion1" role="tablist" aria-multiselectable="false">

                    @{
                        var counterForGeneratedIds = 0;
                        string panelHeadingId, headingLinkDataParent, headingLinkHref, headingLinkAriaControls = "";
                        string panelCollapsedId , panelCollapsedAriaLabelledBy = "";

                        foreach (var faqItem in faqListToShow)
                        {
                            counterForGeneratedIds++;
                            panelHeadingId = "accordion1Heading"+ counterForGeneratedIds;
                            headingLinkDataParent = "#accordion1";
                            headingLinkHref = "#accordion1Collapse" + counterForGeneratedIds;
                            headingLinkAriaControls = "accordion1Collapse" + counterForGeneratedIds;
                            panelCollapsedId = "accordion1Collapse" + counterForGeneratedIds;
                            panelCollapsedAriaLabelledBy = "accordion1Heading" + counterForGeneratedIds;

                            <div class="panel panel-custom panel-corporate">
                                <div class="panel-heading" id="@panelHeadingId" role="tab">
                                    <div class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="@headingLinkDataParent" href="@headingLinkHref" aria-controls="@headingLinkAriaControls">
                                            @faqItem.Value("questionTitle")
                                            <div class="panel-arrow"></div>
                                        </a>
                                    </div>
                                </div>
                                <div class="panel-collapse collapse" role="tabpanel" id="@panelCollapsedId" aria-labelledby="@panelCollapsedAriaLabelledBy">
                                    <div class="panel-body">
                                        <p>
                                            @faqItem.Value("answerDetails")
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                </div>

            </div>
            <div class="col-md-9 col-lg-5 col-xxl-4">
                <figure class="image-default">
                    <img src="@frequentlyAskedQuestionsImageUrl" alt="" width="570" height="600" />
                </figure>
            </div>
        </div>
    </div>
</section>

<!-- HOT! Contact Us now! -->
<!--<section class="section section-xs text-center bg-gray-dark">
    <div class="container-wide">
        <div class="box-cta-thin">
            <p class="big"><span class="label-cta label-cta-primary">Hot!</span><strong>Effective </strong>&nbsp;<span>is your choice in the world of IT companies.&nbsp;</span><a class="link-bold" href="contacts.html">Contact us now!</a></p>
        </div>
    </div>
</section>-->