@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    ViewBag.Title = "MESSIAH - SOFTWARE SOLUTIONS LTD - Homepage";
    Layout = "master.cshtml";
    var backgroundImage = Model.HeroBackgroundImage != null ? Model.HeroBackgroundImage.Url : String.Empty;
}
@*<section class="section section--full-height background-image-full overlay overlay--dark section--content-center section--thick-border"
             style="background-image: url('@backgroundImage')">
        <div class="section__hero-content">
            <h1>@Model.HeroHeader</h1>
            <p class="section__description">@Model.HeroDescription</p>
            @if (Model.HeroCtalink != null)
            {
                <a class="button button--border--solid" href="@Model.HeroCtalink.Url">
                    @Model.HeroCtacaption
                </a>
            }
        </div>
    </section>

    <section class="section section">
        @Html.GetGridHtml(Model, "bodyText", "bootstrap3-fluid")
    </section>


    <section class="section section--themed">

        <div class="container">
            <div class="row">

                <div class="ta-center">
                    <h2>@Model.FooterHeader</h2>
                    <p class="section__description mw-640 ma-h-auto">@Model.FooterDescription</p>

                    <a class="button button--border--light_solid" href="@Model.FooterCtalink.Url">
                        @Model.FooterCtacaption
                    </a>

                </div>

            </div>
        </div>

    </section>*@

<div class="UnderConstructionWrapper">

    @*<h2>@ViewBag.Title</h2>*@
    <h2>
        Coming Soon!
        <br />Under construction! <img src="~/images/comingsoon/bricks.png" />@*<img src="~/images/comingsoon/crown.png" />*@
    </h2>

    <br />
    "Messiah - Software Solutions LTD" is a small business, private software company  from israel owned by <a href="https://about.me/vadimrasin" target="_blank" title="Annoying old ClickBait..">Vadim Rasin</a>.
    <br />
    <br />
    We are looking for cool projects! <br />
    We want to make a better world! <br />
    Come work with us! Give us a new project! :) <br />
    Need a little assistance or counseling?  <br />
    @*But <span class="HeavyText">please</span>! Don't leave us after you are <span class="HeavyText">happy</span> and <span class="HeavyText">satisfied</span> from the <span class="HeavyText">
            answered prophecies..
        </span>*@
    <br />
    <br />
    Direct links of the owner for questions/offers: <br />



    <span>
        <img src="~/images/ComingSoon/email.png" border="0" height="26" width="26"
             alt="Email Icon for Info@MessiahSolutions.com" title="Email Icon for Info@MessiahSolutions.com" />
        <a href="mailto:Info@MessiahSolutions.com" title="Info@MessiahSolutions.com">Info@MessiahSolutions.com</a>
    </span>
    <br />
    <span>
        <img src="~/images/ComingSoon/FaceBook.png" border="0" height="26" width="26"
             alt="Facebook link of the owner vadim rasin" title="Facebook link of the owner vadim rasin" />
        <a href="https://facebook.com/vadimrasin" target="_blank">facebook.com/vadimrasin</a>
    </span>

    <br />
    <span>
        <img src="~/images/ComingSoon/linkedin.png" border="0" height="26" width="26"
             alt="Linkedin of the owner vadim rasin" title="Linkedin of the owner vadim rasin" />
        <a href="https://linkedin.com/in/vadimrasin" target="_blank">linkedin.com/in/vadimrasin</a>
    </span>

    <br />
    <span>
        <img src="~/images/ComingSoon/Twitter.png" border="0" height="26" width="26"
             alt="Twitter link of the owner vadim rasin" title="Twitter link of the owner vadim rasin" />
        <a href="https://twitter.com/hsvdrv" target="_blank">twitter.com/hsvdrv</a>
    </span>

    <br /><br />
    @*<br /><br />+ lots of text to test scroll<br /><br />
        <br /><br />+ lots of text to test scroll<br /><br />
        <br /><br />+ lots of text to test scroll<br /><br />
        <br /><br />+ lots of text to test scroll<br /><br />
        <br /><br />+ lots of text to test scroll<br /><br />
        <br /><br />+ lots of text to test scroll<br /><br />
        <br /><br />+ lots of text to test scroll<br /><br />
        <br /><br />+ lots of text to test scroll<br /><br />
        <br /><br />+ lots of text to test scroll<br /><br />
        <br /><br />+ lots of text to test scroll<br /><br />
        <br /><br />+ lots of text to test scroll<br /><br />*@
</div>
