<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title @*- Messiah Software Solutions*@</title>

    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex">

    @*<link rel="icon" href="images/favicon.ico" type="image/x-icon">*@
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway:200,400%7CLato:300,400,300italic,700%7CMontserrat:900">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/custom.css">
    <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
        <![endif]-->
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

</head>
<body>


    @*<img src="images/logo-default-198x42.png" alt="" width="198" height="42" />*@
    @* 11.12.19 new temp logo! made manually to request a new sane logo from decent underconstruction page *@

    @* 16.12.19 removed Page preloader settings <!-- Page preloader settings --> *@
    @*<div class="preloader">
        <div class="preloader-body">

            <img src="Images/MessiahLogo-TopWebsite-121119.png" alt="" width="198" height="42" border="0" />
            <div class="cssload-container">
                <div class="cssload-speeding-wheel"></div>
            </div>
        </div>
    </div>*@

    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Messiah Software Solutions", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>*@

    <!-- Page-->
    <div class="page">
        <!-- Page Header-->
        <header class="section page-header">
            <!-- RD Navbar-->
            <div class="rd-navbar-wrap rd-navbar-centered" style="box-shadow: 0 6px 8px rgba(41, 41, 58, 0.17);">
                @*11.12.19 removed alot of wierd properties from the nav bar of the purchased template + added "rd-navbar--is-stuck" hack / cheat.
                    data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed"
                    data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fullwidth"
                    data-xl-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static"
                    data-md-device-layout="rd-navbar-fixed"
                    data-lg-device-layout="rd-navbar-static"
                    data-md-stick-up-offset="1px" data-lg-stick-up-offset="1px" data-stick-up="true"
                    data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true"
                        + removing manuall usage of css clas: rd-navbar--is-stuck (from wrapper top div as well)  *@
                <nav class="rd-navbar"
                     data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed"
                     data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fullwidth"
                     data-xl-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static"
                     data-md-device-layout="rd-navbar-fixed"
                     data-lg-device-layout="rd-navbar-static"
                     data-md-stick-up-offset="1px" data-lg-stick-up-offset="1px" data-stick-up="true"
                     data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true">
                    <div class="rd-navbar-inner">
                        <div class="rd-navbar-aside-left">
                            <div class="rd-navbar-nav-wrap">
                                <ul class="rd-navbar-nav">
                                    <li class="active"><a href="/">Home</a></li>
                                    @*<li><a href="#" title="Under construction!">About Us</a></li>
                                        <li>
                                            <a href="#">Blog</a>
                                            <ul class="rd-navbar-dropdown">
                                                <li><a href="#">Under Construction!</a></li>
                                            </ul>
                                        </li>*@
                                    @* 09.12.19 disabled pages from the template menu with style="display:none;" *@
                                    <li class="rd-navbar--has-megamenu rd-navbar-submenu" style="display:none;">
                                        <a href="#">Pages</a>
                                        <!-- RD Navbar Megamenu -->
                                        <ul class="rd-navbar-megamenu">
                                            <li>
                                                <ul class="rd-megamenu-list">
                                                    <li><a href="about-me.html">About Me</a></li>
                                                    <li><a href="our-history.html">Our History</a></li>
                                                    <li><a href="services.html">Services</a></li>
                                                    <li><a href="single-service.html">Single Service</a></li>
                                                    <li><a href="careers.html">Careers</a></li>
                                                    <li><a href="single-job.html">Single Job</a></li>
                                                    <li><a href="contacts.html">Contacts</a></li>
                                                    <li><a href="grid-gallery.html">Grid Gallery</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <ul class="rd-megamenu-list">
                                                    <li><a href="grid-album-gallery.html">Grid Album Gallery</a></li>
                                                    <li><a href="fullwidth-gallery.html">Fullwidth Gallery</a></li>
                                                    <li><a href="masonry-gallery.html">Masonry Gallery</a></li>
                                                    <li><a href="single-project.html">Single Project</a></li>
                                                    <li><a href="login-page.html">Login Page</a></li>
                                                    <li><a href="registration-page.html">Registration Page</a></li>
                                                    <li><a href="pricing.html">Pricing</a></li>
                                                    <li><a href="404-page.html">404 Page</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <ul class="rd-megamenu-list">
                                                    <li><a href="503-page.html">503 Page</a></li>
                                                    <li><a href="coming-soon.html">Coming Soon</a></li>
                                                    <li><a href="under-construction.html">Under Construction</a></li>
                                                    <li><a href="accordions.html">Accordions</a></li>
                                                    <li><a href="forms.html">Forms</a></li>
                                                    <li><a href="countdown.html">Countdown</a></li>
                                                    <li><a href="grid-system.html">Grid System</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <ul class="rd-megamenu-list">
                                                    <li><a href="tables.html">Tables</a></li>
                                                    <li><a href="tabs.html">Tabs</a></li>
                                                    <li><a href="typography.html">Typography</a></li>
                                                    <li><a href="radials.html">Radials</a></li>
                                                    <li><a href="pricing.html">Pricing</a></li>
                                                    <li><a href="tooltips.html">Tooltips</a></li>
                                                    <li><a href="search-results.html">Search Results</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- RD Navbar Panel-->
                        <div class="rd-navbar-panel">
                            <!-- RD Navbar Toggle-->
                            <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                            <!-- RD Navbar Brand-->
                            <div class="rd-navbar-brand">
                                <a class="brand-name" href="/">
                                    @*<img class="logo-default" src="images/logo-default-198x42.png" alt="" width="198" height="42" />*@
                                    <img class="logo-default" title="temporary logo !!!" src="/Images/ComingSoon/Logo/TempCompanyLogo3-02-02-2020-english.png" alt="" border="0" width="256" height="42" />
                                    @*<img class="logo-inverse" src="images/logo-inverse-198x42.png" alt="" width="256" height="42" />*@
                                </a>
                            </div>
                        </div>
                        <div class="rd-navbar-collapse-toggle" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
                        <div class="rd-navbar-aside-right rd-navbar-collapse">
                            <!-- RD Navbar Search-->
                            <div class="rd-navbar-search" style="display:none">
                                @*11.12.19 made the search hidden for now*@
                                <a class="rd-navbar-search-toggle" data-rd-navbar-toggle=".rd-navbar-search" href="#"><span></span></a>
                                <form class="rd-search" action="search-results.html" data-search-live="rd-search-results-live" method="GET">
                                    <div class="form-wrap">
                                        <label class="form-label form-label" for="rd-navbar-search-form-input">Search...</label>
                                        <input class="rd-navbar-search-form-input form-input" id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off">
                                        <div class="rd-search-results-live"></div>
                                    </div>
                                    <button class="rd-search-form-submit mdi mdi-magnify"></button>
                                </form>
                            </div>
                            <a class="button button-sm button-default-outline" href="mailto:info@messiahsolutions.com">request a quote by email</a>
                        </div>
                    </div>
                </nav>
            </div>
        </header>

        @RenderBody()

        <!-- Page Footer-->
        <!-- Footer Default-->
        <footer class="section page-footer page-footer-default text-left bg-gray-darker">
            <div class="container-wide">
                <div class="row row-50 justify-content-sm-center">
                    <div class="col-md-6 col-xl-12">
                        <div class="inset-xxl">
                            <h6>About Us</h6>
                            <p class="text-spacing-sm">
                                Messiah Software Solutions was created to help companies and people to become a better version of themselfs and create software solutions!
                                <br />
                                We love to create! We love to write scrolls and daily tasks and audit our lifes!
                                <br />
                                Daily tasks that will be saved as scrolls and might turn into personal special memories.
                                <br />
                                The most important thing for us is integrity, care and creation! We love our clients!
                                <br />
                                Let's meet and build solutions together and create a better world with the help of God, Bible, Our skills and care for others.
                            </p>
                        </div>
                    </div>
                    @*<div class="col-md-6 col-xl-2">
                            <h6>Quick Links</h6>
                            <ul class="list-marked list-marked-primary">
                                <li><a href="/">Home</a></li>
                                <li><a href="/">About Us</a></li>
                                <li><a href="/">Blog</a></li>
                                <li><a href="#">Clients</a></li>
                            </ul>
                        </div>*@
                    @* 13.12.19 Removing the template pictures with display:none *@
                    <div class="col-md-6 col-xl-4" style="display:none !important;">
                        <h6>Template nice pictures instead of almost empty leggal catalog to show:</h6>
                        <div class="instafeed text-center" data-lightgallery="group">
                            <div class="row row-10 row-narrow">
                                <div class="col-6 col-sm-4 col-md-4 col-lg-3">
                                    <div class="thumbnail-instafeed thumbnail-instafeed-minimal">
                                        <a class="instagram-link" href="images/gallery/gallery-01-1200x800.jpg" data-lightgallery="item"><img class="instagram-image" src="images/gallery/gallery-01-320x320.jpg" width="320" height="320" alt="" /></a>
                                        <div class="caption">
                                            <ul class="list-inline">
                                                <li><span class="icon mdi mdi-heart"></span><span data-likes-count="text"></span></li>
                                                <li><span class="icon mdi mdi-comment"></span><span data-comments-count="text"></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-4 col-md-4 col-lg-3">
                                    <div class="thumbnail-instafeed thumbnail-instafeed-minimal">
                                        <a class="instagram-link" href="images/gallery/gallery-02-1200x800.jpg" data-lightgallery="item"><img class="instagram-image" src="images/gallery/gallery-02-320x320.jpg" width="320" height="320" alt="" /></a>
                                        <div class="caption">
                                            <ul class="list-inline">
                                                <li><span class="icon mdi mdi-heart"></span><span data-likes-count="text"></span></li>
                                                <li><span class="icon mdi mdi-comment"></span><span data-comments-count="text"></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-4 col-md-4 col-lg-3">
                                    <div class="thumbnail-instafeed thumbnail-instafeed-minimal">
                                        <a class="instagram-link" href="images/gallery/gallery-03-1200x800.jpg" data-lightgallery="item"><img class="instagram-image" src="images/gallery/gallery-03-320x320.jpg" width="320" height="320" alt="" /></a>
                                        <div class="caption">
                                            <ul class="list-inline">
                                                <li><span class="icon mdi mdi-heart"></span><span data-likes-count="text"></span></li>
                                                <li><span class="icon mdi mdi-comment"></span><span data-comments-count="text"></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-4 col-md-4 col-lg-3">
                                    <div class="thumbnail-instafeed thumbnail-instafeed-minimal">
                                        <a class="instagram-link" href="images/gallery/gallery-04-1200x800.jpg" data-lightgallery="item"><img class="instagram-image" src="images/gallery/gallery-04-320x320.jpg" width="320" height="320" alt="" /></a>
                                        <div class="caption">
                                            <ul class="list-inline">
                                                <li><span class="icon mdi mdi-heart"></span><span data-likes-count="text"></span></li>
                                                <li><span class="icon mdi mdi-comment"></span><span data-comments-count="text"></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-4 col-md-4 col-lg-3">
                                    <div class="thumbnail-instafeed thumbnail-instafeed-minimal">
                                        <a class="instagram-link" href="images/gallery/gallery-05-1200x800.jpg" data-lightgallery="item"><img class="instagram-image" src="images/gallery/gallery-05-320x320.jpg" width="320" height="320" alt="" /></a>
                                        <div class="caption">
                                            <ul class="list-inline">
                                                <li><span class="icon mdi mdi-heart"></span><span data-likes-count="text"></span></li>
                                                <li><span class="icon mdi mdi-comment"></span><span data-comments-count="text"></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-4 col-md-4 col-lg-3">
                                    <div class="thumbnail-instafeed thumbnail-instafeed-minimal">
                                        <a class="instagram-link" href="images/gallery/gallery-06-1200x800.jpg" data-lightgallery="item"><img class="instagram-image" src="images/gallery/gallery-06-320x320.jpg" width="320" height="320" alt="" /></a>
                                        <div class="caption">
                                            <ul class="list-inline">
                                                <li><span class="icon mdi mdi-heart"></span><span data-likes-count="text"></span></li>
                                                <li><span class="icon mdi mdi-comment"></span><span data-comments-count="text"></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-4 col-md-4 col-lg-3">
                                    <div class="thumbnail-instafeed thumbnail-instafeed-minimal">
                                        <a class="instagram-link" href="images/gallery/gallery-07-1200x800.jpg" data-lightgallery="item"><img class="instagram-image" src="images/gallery/gallery-07-320x320.jpg" width="320" height="320" alt="" /></a>
                                        <div class="caption">
                                            <ul class="list-inline">
                                                <li><span class="icon mdi mdi-heart"></span><span data-likes-count="text"></span></li>
                                                <li><span class="icon mdi mdi-comment"></span><span data-comments-count="text"></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-4 col-md-4 col-lg-3">
                                    <div class="thumbnail-instafeed thumbnail-instafeed-minimal">
                                        <a class="instagram-link" href="images/gallery/gallery-08-1200x800.jpg" data-lightgallery="item"><img class="instagram-image" src="images/gallery/gallery-08-320x320.jpg" width="320" height="320" alt="" /></a>
                                        <div class="caption">
                                            <ul class="list-inline">
                                                <li><span class="icon mdi mdi-heart"></span><span data-likes-count="text"></span></li>
                                                <li><span class="icon mdi mdi-comment"></span><span data-comments-count="text"></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*<div class="col-md-6 col-xl-3">
                        <h6>Contact Us</h6>*@
                    <!-- RD Mailform-->
                    @*</div>*@
                </div>
                <p class="right">
                    &#169;&nbsp;<span class="copyright-year"></span> All Rights Reserved
                    @*<a href="#">Terms of Use</a>&nbsp;and&nbsp;<a href="privacy-policy.html">Privacy Policy</a>*@
                </p>
            </div>
        </footer>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="/js/core.min.js"></script>
    <script src="/js/script.js"></script>

    @*<div class="container body-content">

            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Messiah Software Solutions</p>
            </footer>
        </div>*@

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
</body>
</html>
